<div class="card bg-light mb-3">
    <div class="card-header">{{titulo}}</div>
    <div class="card-body">
        <div class="alert alert-info" *ngIf="listaAlumnos && listaAlumnos.length==0">
            NO HAY ALUMNOS EN EL SISTEMA
        </div>
        <div *ngIf="listaAlumnos && listaAlumnos.length>0">
            <table class="table table-striped table-hover">
                <thead>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>CORREO</th>
                    <th>EDAD</th>
                    <th>FECHA</th>
                    <th>HORA</th>
                </thead>
                <tbody>
                    <tr *ngFor="let alumno of listaAlumnos">
                        <td>{{alumno.id}}</td>
                        <td>{{alumno.nombre}}</td>
                        <td>{{alumno.apellido}}</td>
                        <td>{{alumno.email}}</td>
                        <td>{{alumno.edad}}</td>
                        <!-- tubería para el formato de fecha-->
                        <!-- <td>{{alumno.creadoEn | date: 'yyyy/MM/dd' }}</td> -->
                        <!-- <td>{{alumno.creadoEn | date: 'MMMM d, y, h:mm:ss a z' }}</td> -->
                        <td>{{alumno.creadoEn | date: 'shortDate' }}</td>
                        <td>{{alumno.creadoEn | date: 'shortTime' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

